<h1>POS Products</h1>

<%= link_to 'New POS Product', new_pos_product_path, class: 'btn btn-primary mb-3' %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Type</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @pos_products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= number_to_currency(product.price / 100.0) %></td>
        <td><%= product.product_type.present? ? PosProducts::Factory.human_readable_types[product.product_type] : 'None' %></td>
        <td><%= product.active ? 'Yes' : 'No' %></td>
        <td>
          <%= link_to 'Show', pos_product_path(product), class: 'btn btn-sm btn-info' %>
          <%= link_to 'Edit', edit_pos_product_path(product), class: 'btn btn-sm btn-warning' %>
          <%= link_to 'Delete', pos_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
