<div id="<%= dom_id entry %>">
  <p>
    <strong>Name:</strong>
    <%= entry.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= entry.phone %>
  </p>

  <p>
    <strong>Qty:</strong>
    <%= entry.qty %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= entry.event_id %>
  </p>

</div>
