<p style="color: green"><%= notice %></p>

<%= render @entry %>

<div>
  <%= link_to "Edit this entry", edit_event_entry_path(@event, @entry) %> |
  <%= link_to "Back to entries", event_entries_path(@event) %>

  <%= button_to "Destroy this entry", [@event, @entry], method: :delete %>
</div>
