<%= form_with(model: drawing, url: [@event, drawing]) do |form| %>
  <% if drawing.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(drawing.errors.count, "error") %> prohibited this drawing from being saved:</h2>

      <ul>
        <% drawing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :qty, "Number of winners to draw", style: "display: block" %>
    <%= form.number_field :qty %>
  </div>

  <div>
    <%= form.label :can_win_again do %>
      <%= form.check_box :can_win_again %> Previous winners from <strong><%= @event.name %></strong> can win again in this drawing
    <% end %>
  </div>

  <div>
    <%= form.submit "Draw winners" %>
  </div>
<% end %>
