<p style="color: green"><%= notice %></p>

<%= render @drawing %>

<div>
  <%= link_to "Edit this drawing", edit_event_drawing_path(@event, @drawing) %> |
  <%= link_to "Back to drawings", event_drawings_path(@event) %>

  <%= button_to "Destroy this drawing", event_drawing_path(@event, @drawing), method: :delete %>
</div>
