<div id="<%= dom_id roc_star_price %>">
  <p>
    <strong>Name:</strong>
    <%= roc_star_price.name %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= roc_star_price.product_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= roc_star_price.amount %>
  </p>

  <p>
    <strong>Interval:</strong>
    <%= roc_star_price.interval %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= roc_star_price.description %>
  </p>

</div>
