<div id="pos" class="row" data-controller="cart">
  <!-- Product options -->
  <div id="products" class="col-md-6" data-controller="match-height">
    <% @products.each_slice(2) do |slice| %>
      <div class="row">
        <% slice.each do |product| %>
          <div class="col-md-6">
            <div class="product touchbutton mb-3 <%= 'subscription' if product.subscription? %>"
                  data-product-id="<%= product.id %>"
                  data-product-name="<%= product.name %>"
                  data-product-price="<%= product.price %>"
                  data-requires-card="<%= product.requires_card_payment? %>"
                  data-is-subscription="<%= product.subscription? %>"
                  data-action="click->cart#addToCart"
                  data-match-height-target="item"
                  style="cursor: pointer;">
              <div class="name">
                <%= product.name %>
              </div>
              <% if product.description.present? %>
                <div class="description" style="font-size: 0.85em; color: #666; margin-bottom: 0.5rem;">
                  <%= product.description %>
                </div>
              <% end %>
              <div class="price">
                <%= number_to_currency(product.price / 100.0) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- Cart and Checkout form -->
  <div id="checkout-form" class="col-md-6">
    <%= render partial: 'pos/cart' %>
  </div>
</div>
