<!DOCTYPE html>
<html>
  <head>
    <title>Raffle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if authenticated? %>
      <div id="current_user">
        <p>
          Logged in as <%= current_user.name %>
        </p>
        <%= button_to "Sign out", authentication_path, data: {:confirm => 'Are you sure?'}, :method => :delete %>
      </div>
    <% else %>
      <p>
        <%= link_to "Sign in", sign_in_path %>
      </p>
    <% end %>

    <%= yield %>
  </body>
</html>
